:root {
  --text-color: black;
  --text-accent: #4A69FF;
  --main-color: white;
  --accent-color: #7AB1FF;
  --section-accent: #E5F0FF;

}

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--main-color);
}

h1 {
  margin: 0px 0px 60px;
  font-size: 36px;
}

h2 {
  margin: 0px 0px 30px;
  font-size: 24px;
}

h3 {
  margin: 0px 0px 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  margin: 0px 0px 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 0px;
  padding: 20px 30px;
  text-align: center;
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 9998;
}

nav a {
  padding: 0px 30px;
}

section {
  margin: 0px 0px 90px;
  padding: 90px 30px;
  background-color: var(--main-color);
}

table {
  table-layout: fixed;
  width: 100%;
}

table.home .description {
  width: 75%;
  padding-right: 30px;
  vertical-align: top;
}

table.home .picture {
  width: 25%;
  vertical-align: top;
}

figure {
  margin: 0px;
}

figcaption {
  font-size: 12px;
}

img {
  width: 100%;
  border-radius: 12px;
}

a.top {
  position: fixed;
  top: 80%;
  right: 3%;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: var(--main-color);
  z-index: 9999;
}

section#about,
section#projects {
  background-color: var(--section-accent);
}

table.services .picture {
  width: 25%;
  vertical-align: top;
  padding-right: 30px;
  padding-bottom: 30px;
}

table.services .picture-last {
  width: 25%;
  vertical-align: top;
  padding-right: 0px;
}

table.contacts .picture {
  width: 25%;
  vertical-align: top;
  padding-right: 30px;
}

table.contacts .description {
  width: 50%;
  padding-right: 30px;
  vertical-align: top;
}

table.contacts .contact-data {
  width: 25%;
  vertical-align: top;
}

table.contacts .description p {
  margin-bottom: 90px;
}

table.contacts .description a {
  display: block;
  margin-bottom: 30px;
}


table.contacts .email,
table.contacts .phone {
  font-size: 24px;
  font-weight: 600;
}

footer {
  margin: 0px;
  background-color: var(--accent-color);
  padding: 30px;
}

table.footer td {
  width: 25%;
  vertical-align: middle;
}

table.footer .company {
  text-transform: uppercase;
  font-weight: 600;
}
