a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  padding: 12px 10px 4px;
  font-size: 20px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  background-color: var(--main-color);
  text-align: center;
  cursor: pointer;
  z-index: 300;
}

a.top:hover,
a.top:active {
  background-color: var(--accent-color);
  font-weight: 600;
}