:root {
  --text-color: black;
  --main-color: white;
  --accent-color: #7AB1FF;
  --section-accent: #E5F0FF;
  --hover-color: #4A69FF;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: "Inter", Tahoma, sans-serif;
  font-size: 16px;
  transition: .3s ease-in-out;
}

h1 {
  margin: 0px 0px 60px;
  font-size: 48px;
}

h2 {
  margin: 0px 0px 30px;
  font-size: 28px;
}

h3 {
  margin: 0px 0px 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  margin: 0px 0px 15px;
}