header {
  background-color: var(--main-color-middle);
  width: 100vw;
  padding: 1vw 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  border-radius: 0px 0px 12px 12px;
  position: sticky;

  &>nav {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  &>nav>a {
    display: inline-block;
    border: 1px solid var(--white);
    padding: 10px 20px;
    border-radius: 12px;
    background-color: var(--button-color);
  }

  &>nav>a:hover {
    font-weight: 600;
    background-color: var(--accent-color);
  }
}